<link rel="stylesheet" href="~/Graphical/assets/css/boostrap.css">
<link rel="stylesheet" href="~/Graphical/assets/css/typeaheadjs.css">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" href="~/Graphical/assets/css/graphTool.css">




<style>
    .margin-top {
        margin-top: 40px;
    }
</style>

<div class="container margin-top">
    <button class="btn btn-default" data-toggle="modal" data-target="#HelpModal">Help</button>
    <a href="javascript:void(0)" id="expanderSearchHead" class="btn btn-default">
        Toggle
        search options <span id="expanderSearchSign"><i class="fa-sharp fa-solid fa-caret-down"></i></span>
    </a>
    <form class="well col-sm-12" method="get" id="form">
        <input type="hidden" name="lowRange" id="lowRange" value="3000 kHz">
        <input type="hidden" name="highRange" id="highRange" value="30 MHz">
        <input type="hidden" id="action" name="action" value="search" />
        <div class="form-group col-sm-4">
            <label class="control-label">Frequency bands</label>
            <select class="form-control" size="8" id="bands" name="bands">
                <option selected low="3 kHz" high="30 kHz">3 - 30 kHz</option>
                <option low="30 kHz" high="300 kHz">30 - 300 kHz</option>
                <option low="300 kHz" high="3000 kHz">300 kHz - 3 MHz</option>
                <option low="3000 kHz" high="30 MHz">3 - 30 MHz</option>
                <option low="30 MHz" high="300 MHz">30 MHz - 300 MHz</option>
                <option low="300 MHz" high="3000 MHz">300 MHz - 3 GHz</option>
                <option low="3000 MHz" high="30 GHz">3 - 30 GHz</option>
                <option low="30 GHz" high="300 GHz">30 - 300 GHz</option>
            </select>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="specifyRange" value="1" id="specifyRangeCheckbox">
                    Specific range
                </label>
            </div>
            <div id="frequencyRangeInputs">
                <div class="row frequencyInputRow">
                    <div class="col-md-4">
                        <input class="form-control" placeholder="from" onkeypress="return FormValidFrequency(event)"
                               name="low" value='3000' id="from">
                    </div>
                    <div class="col-md-4 my-3 my-lg-0">
                        <input class="form-control" placeholder="to" onkeypress="return FormValidFrequency(event)"
                               name="high" value='30000' id="to">
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" name="unit" id="frequencySize" style="appearance: auto">

                            <option value="1">
                                Hz
                            </option>
                            <option value="2">
                                kHz
                            </option>
                            <option value="3" selected>
                                MHz
                            </option>
                            <option value="4">
                                GHz
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label class="control-label">Frequency table</label>
            <select class="form-control" size="10" name="user" id="frequency_table">
                <option value="1">- ITU (Region 1) -</option>
                <option value="2" selected>--Palestine (PSE)--</option>
                <option value="3">Algeria</option>
                <option value="4">Bahrain</option>
                <option value="5">Comoros</option>
                <option value="6">Djibouti</option>
                <option value="7">Egypt</option>
                <option value="8">Iraq</option>
                <option value="9">Jordan</option>
                <option value="10">Kuwait</option>
                <option value="11">Lebanon</option>
                <option value="12">Libya</option>
                <option value="13">Mauritania</option>
                <option value="14">Morocco</option>
                <option value="15">Oman</option>
                <option value="16">Qatar</option>
                <option value="17">Saudi Arabia</option>
                <option value="18">Somalia</option>
                <option value="19">Sudan</option>
                <option value="20">Syria</option>
                <option value="21">Tunisia</option>
                <option value="22">United Arab Emirates</option>
                <option value="23">Yemen</option>
            </select>
        </div>
        <div class="form-group col-sm-2">
            <label class="control-label">Language</label> <select class="form-control" size="10" id="languages1"
                                                                  name="languages1">
                <option value="English" selected>English</option>
                <option value="French">French</option>
                <option value="Arabic">Arabic</option>

            </select>
        </div>
        <div class="form-group col-sm-2">
            <label class="control-label">Search type</label>
            <div class="radio">
                <label>
                    <input type="radio" name="searchOption" id="optionsRadios1" value="Allocation">
                    Allocation
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="searchOption" id="optionsRadios2" value="Application" checked>
                    Application
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="compareCheckBox" name="compare">
                    Compare <small>(Select multiple frequency tables)</small>
                </label>
            </div>
            <Strong>Allocation orientation</Strong>
            <div class="radio">
                <label>
                    <input type="radio" name="orientation" id="orientationRadio1" value="horizontal" checked>
                    Horizontal
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="orientation" id="orientationRadio2" value="vertical">
                    Vertical
                </label>
            </div>
        </div>
        <div class="form-group col-sm-1">
            <button type="submit" class="btn btn-default" onclick="GraphicalSearchNow()">Search</button>
        </div>
    </form>
    <div class="alert alert-info col-sm-12" style="display: none;" id="renderTableMessage">
        <div class="form-group col-sm-12">
            <p class="text-center lead" id="renderMessage"></p>
        </div>
        <div class="form-group col-sm-12" id="lowRangeForRender" style="display: none;">
            <label class="col-sm-2">Low frequency</label>
            <p class="col-sm-10"></p>
        </div>
        <div class="form-group col-sm-12" id="highRangeForRender" style="display: none;">
            <label class="col-sm-2">High frequency</label>
            <p class="col-sm-10"></p>
        </div>
        <div class="form-group col-sm-12"></div>
        <div class="form-group col-sm-offset-2 col-sm-10">
            <input type="hidden" id="action" name="action" value="render" />
            <button id="submitRenderButton" type="button" class="btn btn-default" style="display: inline-block;" onclick="CreateImage_Render(); return false;">
                Create
                image
            </button>

            <form id="export">
                <input type="hidden" name="exportLow" id="exportLow" value="">
                <input type="hidden" name="exportHigh" id="exportHigh" value="">
                <input type="hidden" name="exportUsers" id="exportUsers" value="">
                <input type="hidden" name="exportSearchOption" value="Allocation">
                <input type="hidden" name="languages" value="English">
                <input type="hidden" name="SearchType" id="SearchType" value="@ViewBag.GraphicalSearch " />
            </form>
            <button class="btn btn-danger" onclick="toggleRenderImage(); return false;">Cancel</button>
        </div>
    </div>
    <div class="graphs-container">
        <div class="row">
            <div class="col-sm-4">
                <button class="btn btn-default" onclick="toggleRenderImage()" id="showRenderOptionsButton" style="display: block;width:100%">Create Image/Export table</button>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default mt-3 mt-lg-0">
                    <div class="panel-heading">
                        <label class="control-label">Highlight term</label>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-10 col-10">
                                <input type="text" class="form-control" id="highlight">
                            </div>
                            <div class="col-sm-2 col-2 p-0">
                                <button type="button" class="btn btn-danger btn-s" onclick="resetHighLight()">
                                    <span>
                                        <i class="fa-solid fa-trash-can"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 pull-right">
                <p class="text-center">Zoom</p>
                <div id="slider"></div>
            </div>
        </div>



        @*<h1 id="NoData"></h1>*@
        <div id="DynamicGrid"></div>
        @*<h1 id="error_input"></h1>*@


        <br />


        <div class="row">
            <div class="col-sm-4">
                <p style="font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">Use this HTML for embedding the graph</p>
            </div>
            <div class="col-sm-5">
                <input readonly="" id="Embaded" class="form-control" value="">
            </div>
        </div>

    </div>
    <script>(function () { var js = "window['__CF$cv$params']={r:'7d584cb81fce04c6',m:'bsOSL3zfZFKd4FJyW9r9qg9JSkTQHuh.caalPrDHAu4-1686470210-0-AU47b20+9No1Ni/CeJnrPBm/EWxOPdFEJYtab2e4fBj2'};_cpo=document.createElement('script');_cpo.nonce='',_cpo.src='/cdn-cgi/challenge-platform/scripts/invisible.js',document.getElementsByTagName('head')[0].appendChild(_cpo);"; var _0xh = document.createElement('iframe'); _0xh.height = 1; _0xh.width = 1; _0xh.style.position = 'absolute'; _0xh.style.top = 0; _0xh.style.left = 0; _0xh.style.border = 'none'; _0xh.style.visibility = 'hidden'; document.body.appendChild(_0xh); function handler() { var _0xi = _0xh.contentDocument || _0xh.contentWindow.document; if (_0xi) { var _0xj = _0xi.createElement('script'); _0xj.nonce = ''; _0xj.innerHTML = js; _0xi.getElementsByTagName('head')[0].appendChild(_0xj); } } if (document.readyState !== 'loading') { handler(); } else if (window.addEventListener) { document.addEventListener('DOMContentLoaded', handler); } else { var prev = document.onreadystatechange || function () { }; document.onreadystatechange = function (e) { prev(e); if (document.readyState !== 'loading') { document.onreadystatechange = prev; handler(); } }; } })();</script>

</div>

<div id="html-content-holder" style="display: none" ;> </div>
<input type="button" value="Preview & Convert" id="btnConvert" style="display: none" ;>
@*
<div id="html-content-holder"> </div>
<input type="button" value="Preview & Convert" id="btnConvert">*@

<div class="modal fade" id="HelpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Help</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">
                    Please select a frequency range and table and the language (allocation term will be translated into this language). You can in principle see all tables in all available languages. You can scroll and zoom in to the information you like to find/see. You can export the result by either rendering a picture (select first the lower and upper frequency sub-range) in png-format or you can use/embed the HTML link in e.g. external documents or external webpages
                    (i.e. you can use the tool on your own webpages if you want).
                </p>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://monsido-consent.com/v1/mcm.js"></script>
    <script type="text/javascript" async src="https://app-script.monsido.com/v2/monsido-script.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Graphical/assets/js/jquery-autocomplete-min.js"></script>
    <script type="text/javascript" src="~/Graphical/assets/js/jquery.json-2.3.min.js"></script>
    <script type="text/javascript" src="~/Graphical/assets/js/jquery.doubleScroll.js"></script>
    <script type="text/javascript" src="~/Graphical/assets/js/overlib.js"></script>
    <script type="text/javascript" src="~/Graphical/assets/js/showPopup.js"></script>
    <script type="text/javascript" src="~/Graphical/assets/js/typeahead.bundle.min.js"></script>
    <script type="text/javascript" src="~/Graphical/assets/js/myscript.js"></script>





    <script type="text/javascript">
        $(document).ready(function () {
            if (window.location.search == '') {
                $("#optionsRadios2").click();
                GraphicalSearchNow()
            }

            if (window.location.search != '') {
                var data = window.location.search.substring(1).split('&');

                $("#frequency_table").val(data[3].split('=')[1]);
                $("#languages1").val('English');

                $("input[name=orientation][value=" + data[4].split('=')[1] + "]").attr('checked', 'checked');

                $("input[name=searchOption][value=" + data[5].split('=')[1] + "]").attr('checked', 'checked');
                var rangecheck;
                if ((data[6].split('=')[1]) == 'true') {
                    $("#specifyRangeCheckbox").click();
                    $("#specifyRangeCheckbox").click();
                }
                else
                    $("#specifyRangeCheckbox").click();

                toggleFrequencySelectors();

                var compare = data[3].split('=')[1];


                if ($('#bands').prop('disabled')) {
                    // by textbox
                    $("#from").val(data[0].split('=')[1]);
                    $("#to").val(data[1].split('=')[1]);
                    $("#frequencySize").val(data[2].split('=')[1]);

                    if (compare.length >= 3 == true) {
                        result = compare.split(',')
                        $("#compareCheckBox").click();
                        $("#frequency_table").val([result[0], result[1]])
                    }
                }
                else {
                    var lowrangedata = data[7].split('=')[1].trim().replaceAll('%20', '');
                    var number = parseInt(lowrangedata);
                    var text = lowrangedata.replace(number, '');
                    var Lowresult = number + " " + text;

                    $("#lowRange").val(Lowresult);

                    var highrangedata = data[8].split('=')[1].trim().replaceAll('%20', '');
                    var number = parseInt(highrangedata);
                    var text = highrangedata.replace(number, '');
                    var Highresult = number + " " + text;

                    $("#highRange").val(Highresult);

                    if (compare.length >= 3 == true) {
                        result = compare.split(',')
                        $("#compareCheckBox").click();
                        $("#frequency_table").val([result[0], result[1]])
                    }
                }
                GraphicalSearchNow();
            }
        });

        function CreateImage_Render() {
            var low = "";
            var high = "";
            var lowvalue = Math.round($("#lowRange").val().replace(" ", "").match(/[\d.]+/)[0]);
            var highvalue = Math.round($("#highRange").val().replace(" ", "").match(/[\d.]+/)[0]);

            if ((parseInt($("#lowRange").val().replace(/[^\d\s]/g, '').replace(/\s/g, ''))) == 0) {
                //low = (parseInt($("#lowRange").val().replace(/[^\d\s]/g, '').replace(/\s/g, ''))).toString();
                //high = (parseInt($("#highRange").val().replace(/[^\d\s]/g, '').replace(/\s/g, ''))).toString();
                low = lowvalue.toString();
                high = highvalue.toString();
            }
            else {
                //low = (parseInt($("#lowRange").val().replace(/[^\d\s]/g, '').replace(/\s/g, '')) + 100).toString();
                //high = (parseInt($("#highRange").val().replace(/[^\d\s]/g, '').replace(/\s/g, '')) - 100).toString();
                low = (lowvalue + 1).toString();
                high = (highvalue - 1).toString();

            }

            var graph_containerSize = $("#graph_containerID").width();
            var FrequencySize = $("#highRange").val().replace(/[0-9\s]/g, '')
            var FrequencySizeVal;
            if (FrequencySize == 'Hz') {
                FrequencySizeVal = 1;
            }
            else if (FrequencySize == 'kHz') {
                FrequencySizeVal = 2;
            }
            else if (FrequencySize == 'MHz') {
                FrequencySizeVal = 3;
            }
            else if (FrequencySize == 'GHz') {
                FrequencySizeVal = 4;
            }
            FrequencyTable = $("#frequency_table option:selected").text();
            var orientation = $("input[name='orientation']:checked").val();
            var radioValue = $("input[name='searchOption']:checked").val();
            var action;
            if (radioValue == "Allocation") {
                var host = window.location.href;
                if (host.includes('localhost') || host.includes('127.0.0.1')) {
                    action = "https://localhost:44305/ApplicationSearch/GraphicalAllowCationSearchGrid";
                } else {
                    action = "https://nfta.northeurope.cloudapp.azure.com/ApplicationSearch/GraphicalAllowCationSearchGrid";
                }
                if ($("#compareCheckBox").is(":checked")) {
                    FrequencyTable = $("#frequency_table :selected").map((_, e) => e.value).get();
                    if (host.includes('localhost') || host.includes('127.0.0.1')) {
                        action = "https://localhost:44305/AllocationSearch/CompareSearch";
                    } else {
                        action = "https://nfta.northeurope.cloudapp.azure.com/AllocationSearch/CompareSearch";
                    }

                }
            }
            else {
                var host = window.location.href;
                if (host.includes('localhost') || host.includes('127.0.0.1')) {
                    action = "https://localhost:44305/ApplicationSearch/GraphicalApplicationSearchGrid";
                } else {
                    action = "https://nfta.northeurope.cloudapp.azure.com/ApplicationSearch/GraphicalApplicationSearchGrid";
                }
            }
            $.ajax({
                type: "POST",
                url: action,
                data: {
                    FromVal: low,
                    ToVal: high,
                    FrequencySizeVal: FrequencySizeVal,
                    FrequencyTableVal: FrequencyTable,
                    orientation: orientation,
                },
                success: function (response) {
                    $("#html-content-holder").html('');
                    $("#html-content-holder").html(response);
                    $("#html-content-holder").show();
                    //jQuery('[name="graph_container"]').css("width", "1928.5px");
                    dynamicSearchData();

                    //if (document.querySelectorAll('#graph_containerID').length == 4) {
                    //    var totalService = $("[id=graph_containerID]:eq(2)").find(".cell_container_content_wrap").length;
                    //    var maxWid = 21630;
                    //    var width = maxWid / totalService;
                    //    $("[id=graph_containerID]:eq(2)").css("width", width + "rem")

                    //    var totalService = $("[id=graph_containerID]:eq(3)").find(".cell_container_content_wrap").length;
                    //    var maxWid = 21630;
                    //    var width = maxWid / totalService;
                    //    $("[id=graph_containerID]:eq(3)").css("width", width + "rem")
                    //}
                    //else {
                    //    var totalService = $("[id=graph_containerID]:eq(1)").find(".cell_container_content_wrap").length;
                    //    var maxWid = 21630;
                    //    var width = maxWid / totalService;
                    //    $("[id=graph_containerID]:eq(1)").css("width", width + "rem")
                    //}
                    $("div[name='graph_container']").each(function () {
                        $(this).css("width", +graph_containerSize + "px");
                    });

                    //setTimeout(
                    //    function () {
                    //        // Wait
                    //    }, 5000);



                    $("#NoData").text('');
                    if (response.width() == 0) {
                        $("#NoData").text("No Data Found")
                    }
                    var divContent = $("[id=html-content-holder]").html();

                    var newTab = window.open();
                    newTab.document.open();
                    newTab.document.write(divContent);


                    var cssFileUrl = "/Graphical/assets/css/graphTool.css";
                    var cssLink = newTab.document.createElement("link");
                    cssLink.href = cssFileUrl;
                    cssLink.rel = "stylesheet";
                    newTab.document.head.appendChild(cssLink);

                    var bootstrapFileUrl = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css";
                    var bootstrapLink = newTab.document.createElement("link");
                    bootstrapLink.href = bootstrapFileUrl;
                    bootstrapLink.rel = "stylesheet";
                    newTab.document.head.appendChild(bootstrapLink);

                    $("#btnConvert").click();

                    $("#html-content-holder").hide();

                    var list = newTab.document.getElementById("Temp");
                    if (list != null && list.hasChildNodes()) {
                        var elements = newTab.document.getElementsByClassName("suwala-doubleScroll-scroll-wrapper");
                        list.removeChild(elements[0]);
                    }

                    var newdata = newTab.document.querySelectorAll('.suwala-doubleScroll-scroll-wrapper')
                    if (newdata.length != 0) {
                        newdata[0].remove();
                        newdata[1].remove();
                    }
                },
                failure: function (response) {
                    alert("faliure");
                },
                error: function (xhr, textStatus, exceptionThrown) {
                    var errorData = $.parseJSON(xhr.responseText); rData
                    var errorMessages = [];
                    for (var key in errorData) {
                        errorMessages.push(errorData[key]);
                    }
                    $('#error_input').html(errorMessages.join("<br />"));
                }
            });

        }

        $("#compareCheckBox").click(function () {
            if ($(this).is(":checked"))
                $('#frequency_table').attr('multiple', 'multiple');
            else
                $('#frequency_table').removeAttr('multiple');
        });

        function GraphicalSearchNow() {
            event.preventDefault();
            var FrequencyTable;
            var orientation = $("input[name='orientation']:checked").val();
            var from;
            var to;
            var radioValue = $("input[name='searchOption']:checked").val();
            var action;
            var FrequencySize;
            var isDisabled = $('#bands').prop('disabled');
            if (isDisabled) // get data from txtbox
            {
                from = $('#from').val();
                to = $('#to').val();

                FrequencyTable = $("#frequency_table :selected").text();
                if (radioValue == "Allocation") {
                    var host = window.location.href;
                    if (host.includes('localhost') || host.includes('127.0.0.1')) {
                        action = "https://localhost:44305/ApplicationSearch/GraphicalAllowCationSearchGrid";
                    } else {
                        action = "https://nfta.northeurope.cloudapp.azure.com/ApplicationSearch/GraphicalAllowCationSearchGrid";
                    }
                    FrequencySizeVal = ($('#frequencySize option:selected').text()).replace(/\s/g, '');

                    if ($("#compareCheckBox").is(":checked")) {
                        FrequencyTable = $("#frequency_table :selected").map((_, e) => e.value).get();
                        if (host.includes('localhost') || host.includes('127.0.0.1')) {
                            action = "https://localhost:44305/AllocationSearch/CompareSearch";
                        } else {
                            action = "https://nfta.northeurope.cloudapp.azure.com/AllocationSearch/CompareSearch";
                        }
                    }
                }
                else {
                    var host = window.location.href;
                    if (host.includes('localhost') || host.includes('127.0.0.1')) {
                        action = "https://localhost:44305/ApplicationSearch/GraphicalApplicationSearchGrid";
                    } else {
                        action = "https://nfta.northeurope.cloudapp.azure.com/ApplicationSearch/GraphicalApplicationSearchGrid";
                    }
                    FrequencySizeVal = ($('#frequencySize option:selected').val()).replace(/\s/g, '');

                    if ($("#compareCheckBox").is(":checked")) {
                        FrequencyTable = $("#frequency_table :selected").map((_, e) => e.value).get();
                        if (host.includes('localhost') || host.includes('127.0.0.1')) {
                            action = "https://localhost:44305/AllocationSearch/CompareSearch";
                        } else {
                            action = "https://nfta.northeurope.cloudapp.azure.com/AllocationSearch/CompareSearch";
                        }
                    }
                }
            }
            else {
                var band = $('#bands option:selected').val();
                var low = $("#lowRange").val();
                var high = $("#highRange").val();
                from = low.split(/(?<=^\S+)\s/)[0];
                to = high.split(/(?<=^\S+)\s/)[0];
                FrequencySizeVal = low.split(/(?<=^\S+)\s/)[1]

                if (radioValue == "Allocation") {
                    var host = window.location.href;
                    if (host.includes('localhost') || host.includes('127.0.0.1')) {
                        action = "https://localhost:44305/ApplicationSearch/GraphicalAllowCationSearchGrid";
                    } else {
                        action = "https://nfta.northeurope.cloudapp.azure.com/ApplicationSearch/GraphicalAllowCationSearchGrid";
                    }
                    FrequencyTable = $("#frequency_table option:selected").text();
                    if ($("#compareCheckBox").is(":checked")) {
                        FrequencyTable = $("#frequency_table :selected").map((_, e) => e.value).get();
                        if (host.includes('localhost') || host.includes('127.0.0.1')) {
                            action = "https://localhost:44305/AllocationSearch/CompareSearch";
                        } else {
                            action = "https://nfta.northeurope.cloudapp.azure.com/AllocationSearch/CompareSearch";
                        }
                    }

                }
                else {
                    var host = window.location.href;
                    if (host.includes('localhost') || host.includes('127.0.0.1')) {
                        action = "https://localhost:44305/ApplicationSearch/GraphicalApplicationSearchGrid";
                    } else {
                        action = "https://nfta.northeurope.cloudapp.azure.com/ApplicationSearch/GraphicalApplicationSearchGrid";
                    }
                    FrequencyTable = $("#frequency_table option:selected").text();
                }
            }

            if (FrequencySizeVal == 'Hz') {
                FrequencySizeVal = 1;
            }
            else if (FrequencySizeVal == 'kHz') {
                FrequencySizeVal = 2;
            }
            else if (FrequencySizeVal == 'MHz') {
                FrequencySizeVal = 3;
            }
            else if (FrequencySizeVal == 'GHz') {
                FrequencySizeVal = 4;
            }

            var number1 = parseInt($('#from').val());
            var number2 = parseInt($('#to').val());
            if (number1 > number2) {
                $('#error_input').html('Error! In From field, it is bigger than To field');
            }
            else {
                if ($("#frequency_table option:selected").text() != '') {
                    $('#error_input').html('');
                    $.ajax({
                        type: "POST",
                        url: action,
                        data: {
                            FromVal: from,
                            ToVal: to,
                            FrequencySizeVal: FrequencySizeVal,
                            FrequencyTableVal: FrequencyTable,
                            orientation: orientation,
                        },
                        success: function (response) {
                            $("#DynamicGrid").html('');
                            $("#DynamicGrid").html(response);
                            //jQuery('[name="graph_container"]').css("width", "1928.5px");

                            $("#NoData").text('');
                            if (response.width() == 0) {
                                $("#NoData").text("No Data Found")
                            }
                            dynamicSearchData();
                            var host = window.location.href;
                            var FromVal = "FromVal=" + from;
                            var ToVal = "&ToVal=" + to;
                            var FrequencySize = "&FreqSize=" + FrequencySizeVal;

                            if ($("#frequency_table").val().length == 2) {
                                var FrequencyTableVal = "&FreqTab=" + $("#frequency_table").val();
                            }
                            else {
                                var FrequencyTableVal = "&FreqTab=" + $('#frequency_table').val();
                            }

                            $("#Embaded").val("");
                            var orien = "&orientation=" + orientation;
                            var radioValue = "&SearchType=" + $("input[name='searchOption']:checked").val();
                            var specifyRangechk = "&Range=" + $("#specifyRangeCheckbox").is(":checked");

                            var lowView = "&LowView = " + $("#lowRange").val();
                            var highView = "&HighView = " + $("#highRange").val();
                            $("#Embaded").val(host + "?" + FromVal + ToVal + FrequencySize + FrequencyTableVal + orien + radioValue + specifyRangechk + lowView + highView);

                        },
                        failure: function (response) {
                            alert("faliure");
                        },
                        error: function (xhr, textStatus, exceptionThrown) {
                            var errorData = $.parseJSON(xhr.responseText); rData
                            var errorMessages = [];
                            for (var key in errorData) {
                                errorMessages.push(errorData[key]);
                            }
                            $('#error_input').html(errorMessages.join("<br />"));
                        }
                    });
                }

            }

        }

        function dismissModel() {
            document.getElementById("DiscriptionModel").style.opacity = "0";
            $("#DiscriptionModel").css("display", "none");
        }

        function DiscriptionPopup(title, discription) {
            $("#DiscriptionTitle").text(title);
            $("#DiscriptionBody").text(discription);
            document.getElementById("DiscriptionModel").style.opacity = "1";
            $("#DiscriptionModel").css("display", "block");
            $('#DiscriptionModel').modal('show');
        }

        window._monsido = window._monsido || {
            token: "psd_qypslZ1n705cBt5H0g",
            statistics: {
                enabled: true,
                documentTracking: {
                    enabled: false,
                    documentCls: "monsido_download",
                    documentIgnoreCls: "monsido_ignore_download",
                    documentExt: [],
                },
            },
        };

        window._monsidoConsentManagerConfig = window._monsidoConsentManagerConfig || {
            token: "psd_qypslZ1n705cBt5H0g",
            privacyRegulation: ["gdpr"],
            settings: {
                manualStartup: false,
                hideOnAccepted: true,
                perCategoryConsent: true,
                explicitRejectOption: false,
                hasOverlay: false,
            },
            i18n: {
                languages: ["en_US"],
                defaultLanguage: "en_US"
            },
            theme: {
                buttonColor: "#783CE2",
                buttonTextColor: "#ffffff",
                iconPictureUrl: "cookie",
                iconShape: "circle",
                position: "bottom-right",
            },
            //links: {
            //    cookiePolicyUrl: "https://cept.org/eco/eco-in-brief/data-protection-policies-gdpr",
            //    optOutUrl: "",
            //},
        };

        function GraphicalSearchNow() {
            event.preventDefault();
            var FrequencyTable;
            var orientation = $("input[name='orientation']:checked").val();
            var from;
            var to;
            var radioValue = $("input[name='searchOption']:checked").val();
            var action;
            var FrequencySize;
            var isDisabled = $('#bands').prop('disabled');
            if (isDisabled) // get data from txtbox
            {
                from = $('#from').val();
                to = $('#to').val();

                FrequencyTable = $("#frequency_table :selected").text();
                if (radioValue == "Allocation") {
                    var host = window.location.href;
                    if (host.includes('localhost') || host.includes('127.0.0.1')) {
                        action = "https://localhost:44305/ApplicationSearch/GraphicalAllowCationSearchGrid";
                    } else {
                        action = "https://nfta.northeurope.cloudapp.azure.com/ApplicationSearch/GraphicalAllowCationSearchGrid";
                    }
                    FrequencySizeVal = ($('#frequencySize option:selected').text()).replace(/\s/g, '');

                    if ($("#compareCheckBox").is(":checked")) {
                        FrequencyTable = $("#frequency_table :selected").map((_, e) => e.value).get();
                        if (host.includes('localhost') || host.includes('127.0.0.1')) {
                            action = "https://localhost:44305/AllocationSearch/CompareSearch";
                        } else {
                            action = "https://nfta.northeurope.cloudapp.azure.com/AllocationSearch/CompareSearch";
                        }
                    }
                }
                else {
                    var host = window.location.href;
                    if (host.includes('localhost') || host.includes('127.0.0.1')) {
                        action = "https://localhost:44305/ApplicationSearch/GraphicalApplicationSearchGrid";
                    } else {
                        action = "https://nfta.northeurope.cloudapp.azure.com/ApplicationSearch/GraphicalApplicationSearchGrid";
                    }
                    FrequencySizeVal = ($('#frequencySize option:selected').val()).replace(/\s/g, '');

                    if ($("#compareCheckBox").is(":checked")) {
                        FrequencyTable = $("#frequency_table :selected").map((_, e) => e.value).get();
                        if (host.includes('localhost') || host.includes('127.0.0.1')) {
                            action = "https://localhost:44305/AllocationSearch/CompareSearch";
                        } else {
                            action = "https://nfta.northeurope.cloudapp.azure.com/AllocationSearch/CompareSearch";
                        }
                    }
                }
            }
            else {
                var band = $('#bands option:selected').val();
                var low = $("#lowRange").val();
                var high = $("#highRange").val();
                from = low.split(/(?<=^\S+)\s/)[0];
                to = high.split(/(?<=^\S+)\s/)[0];
                FrequencySizeVal = low.split(/(?<=^\S+)\s/)[1]

                if (radioValue == "Allocation") {
                    var host = window.location.href;
                    if (host.includes('localhost') || host.includes('127.0.0.1')) {
                        action = "https://localhost:44305/ApplicationSearch/GraphicalAllowCationSearchGrid";
                    } else {
                        action = "https://nfta.northeurope.cloudapp.azure.com/ApplicationSearch/GraphicalAllowCationSearchGrid";
                    }
                    FrequencyTable = $("#frequency_table option:selected").text();
                    if ($("#compareCheckBox").is(":checked")) {
                        FrequencyTable = $("#frequency_table :selected").map((_, e) => e.value).get();
                        if (host.includes('localhost') || host.includes('127.0.0.1')) {
                            action = "https://localhost:44305/AllocationSearch/CompareSearch";
                        } else {
                            action = "https://nfta.northeurope.cloudapp.azure.com/AllocationSearch/CompareSearch";
                        }
                    }

                }
                else {
                    var host = window.location.href;
                    if (host.includes('localhost') || host.includes('127.0.0.1')) {
                        action = "https://localhost:44305/ApplicationSearch/GraphicalApplicationSearchGrid";
                    } else {
                        action = "https://nfta.northeurope.cloudapp.azure.com/ApplicationSearch/GraphicalApplicationSearchGrid";
                    }
                    FrequencyTable = $("#frequency_table option:selected").text();
                }
            }

            if (FrequencySizeVal == 'Hz') {
                FrequencySizeVal = 1;
            }
            else if (FrequencySizeVal == 'kHz') {
                FrequencySizeVal = 2;
            }
            else if (FrequencySizeVal == 'MHz') {
                FrequencySizeVal = 3;
            }
            else if (FrequencySizeVal == 'GHz') {
                FrequencySizeVal = 4;
            }

            var number1 = parseInt($('#from').val());
            var number2 = parseInt($('#to').val());
            if (number1 > number2) {
                $('#error_input').html('Error! In From field, it is bigger than To field');
            }
            else {
                if ($("#frequency_table option:selected").text() != '') {
                    $('#error_input').html('');
                    $.ajax({
                        type: "POST",
                        url: action,
                        data: {
                            FromVal: from,
                            ToVal: to,
                            FrequencySizeVal: FrequencySizeVal,
                            FrequencyTableVal: FrequencyTable,
                            orientation: orientation,
                        },
                        success: function (response) {
                            $("#DynamicGrid").html('');
                            $("#DynamicGrid").html(response);
                            //jQuery('[name="graph_container"]').css("width", "1928.5px");
                            dynamicSearchData();
                            $("#NoData").text('');
                            if (response.width() == 0) {
                                $("#NoData").text("No Data Found")
                            }

                            // Create Dynamic URL Start
                            var host = window.location.href;
                            var FromVal = "FromVal=" + from;
                            var ToVal = "&ToVal=" + to;
                            var FrequencySize = "&FreqSize=" + FrequencySizeVal;

                            if ($("#frequency_table").val().length == 2) {
                                var FrequencyTableVal = "&FreqTab=" + $("#frequency_table").val();
                            }
                            else {
                                var FrequencyTableVal = "&FreqTab=" + $('#frequency_table').val();
                            }

                            $("#Embaded").val("");
                            var orien = "&orientation=" + orientation;
                            var radioValue = "&SearchType=" + $("input[name='searchOption']:checked").val();
                            var specifyRangechk = "&Range=" + $("#specifyRangeCheckbox").is(":checked");

                            var lowView = "&LowView = " + $("#lowRange").val();
                            var highView = "&HighView = " + $("#highRange").val();
                            $("#Embaded").val(host + "?" + FromVal + ToVal + FrequencySize + FrequencyTableVal + orien + radioValue + specifyRangechk + lowView + highView);
                            // End
                        },
                        failure: function (response) {
                            alert("faliure");
                        },
                        error: function (xhr, textStatus, exceptionThrown) {
                            var errorData = $.parseJSON(xhr.responseText); rData
                            var errorMessages = [];
                            for (var key in errorData) {
                                errorMessages.push(errorData[key]);
                            }
                            $('#error_input').html(errorMessages.join("<br />"));
                        }
                    });
                }
            }
        }

        document.getElementById("btnConvert").addEventListener("click", function () {
            html2canvas(document.getElementById("html-content-holder")).then(function (canvas) {
                var anchorTag = document.createElement("a");
                document.body.appendChild(anchorTag);
                anchorTag.download = "filename.jpg";
                anchorTag.href = canvas.toDataURL();
                anchorTag.target = '_blank';
                anchorTag.click();
            });
        });
        function dynamicSearchData() {
            if (!render) {
                initSlider();
                initDoubleScroll();
                initHighlight();
            }
            minWidth = "1374.8 kHz".width() * 3;
            graphContainers = jQuery('[name="graph_container"]');
            jQuery(graphContainers).mouseleave(function () {
                setTimeout(function () {
                    if (jQuery(".popover:hover").length == 0) {
                        closeOpenPopOver();
                    }
                }, 500);
            });
            graphTitles = jQuery(".graph-title");
            graphContainerWidth = jQuery(graphContainers[0]).width();
            changeTableWidth(0);
            setChangeListenerForSearchOptions();
            setChangeListenerForCompare();
            jQuery("#compareCheckBox").trigger("change");
            setChangeListenerForBands();
            setChangeListenerForFrequencyRange();
            if (!render) {
                $(slider).slider("value", maxZoom / 2);
                //var service = $("#ServiceCount").val();
                //var test = parseInt(maxZoom) * parseInt(service);
                changeTableWidth(maxZoom / 2);
            }
        }
    </script>
    }

@*<script type="text/javascript" src="~/Graphical/assets/js/graphtool.js"></script>*@
