html {
    background-color: #333;
}

body {
    background: -webkit-linear-gradient( rgba(220, 220, 240, 1), rgba(255, 255, 255, 0) ), url("../img/stars@2x.png");
    background: -o-linear-gradient(rgba(220, 220, 240, 1), rgba(255, 255, 255, 0)), url("../img/stars@2x.png");
    background: -moz-linear-gradient( rgba(220, 220, 240, 1), rgba(255, 255, 255, 0) ), url("../img/stars@2x.png");
    background: linear-gradient(rgba(220, 220, 240, 1), rgba(255, 255, 255, 0)), url("../img/stars@2x.png");
    background-size: 100% 450px, auto auto;
    background-repeat: no-repeat;
    /*padding-top: 70px;*/
}

#expanderContent {
    display: none;
}

.logo-text {
    color: #233487;
    font-size: 25pt;
}

.sub-heading {
    color: #333;
    font-size: 13pt;
}

@font-face {
    font-family: open sans;
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url(https://themes.googleusercontent.com/static/fonts/opensans/v7/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format("woff");
}

@font-face {
    font-family: open sans;
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url(https://themes.googleusercontent.com/static/fonts/opensans/v7/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff");
}

@font-face {
    font-family: open sans;
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v7/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format("woff");
}

.menu-item {
    color: #757575;
    font-size: smaller;
}

footer {
    margin-top: 20px;
    background-color: #333;
    padding-bottom: 20px;
}

.shadow {
    height: 10px;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(51, 51, 51, 1));
    background: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(51, 51, 51, 1));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(51, 51, 51, 1));
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(51, 51, 51, 1));
}

.frontpage-item {
    padding-bottom: 30px;
}

a {
    color: #233487;
}

    a:hover {
        color: #233487;
    }

footer * {
    display: block;
}

footer a {
    color: #999;
}

    footer a:hover {
        color: #999;
    }

footer span {
    color: #fff;
}

    footer span.header {
        font-size: 15pt;
        margin-bottom: 7px;
        font-weight: lighter;
        color: #fff;
    }

.section-header {
    color: #3333333;
    font-size: large;
    font-weight: lighter;
}

.testenvionment {
    color: red;
    vertical-align: middle;
}

.read-more {
    font-size: small;
}

.textwhite {
    color: #fff;
}

.top-margin {
    margin-top: 7px;
}

.bottom_margin {
    margin-bottom: 7px;
}

.right_margin {
    margin-right: 7px;
}

#overDiv {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
    box-sizing: border-box;
}

    #overDiv b {
        color: #3a87ad;
        font-weight: 700;
    }

    #overDiv a {
        color: #3a87ad;
        font-weight: 700;
    }

.efis_flag {
    height: 40px;
}

.efisList ul li {
    margin: 5px 0 5px 0;
}

.opt_primary {
}

.inline-first-element {
    padding-right: 15px !important;
    padding-left: 0 !important;
}

.inline-last-element {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.opt_secondary {
    font-style: italic;
}

.horizontal-list * {
    margin-right: 7px;
    margin-bottom: 7px !important;
    display: inline-block;
}

.inline-form-element {
    display: inline-block;
}

.margin-bottom-to-row div.row {
    margin-bottom: 7px;
}

.autocomplete-suggestions {
    background: #fff;
    overflow: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #f0f0f0;
}

.autocomplete-suggestions strong {
    font-weight: 400;
    color: #5e8ff1;
}

.rounded-border {
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 7px;
    border: 1px solid #ececec;
    border-radius: 5px;
}

.thfirst {
    width: 100px;
}

.implementationStatus {
    border: 1px solid #000;
}

    .implementationStatus.S0 {
    }

    .implementationStatus.SN {
        background-color: #fffbae !important;
    }

    .implementationStatus.SU {
        background-color: #fffbae !important;
    }

    .implementationStatus.SP {
        background-color: #fffbae !important;
    }

    .implementationStatus.SY {
    }

    .implementationStatus.SL {
    }

    .implementationStatus.edited {
        color: blue !important;
    }

    .implementationStatus.saved {
        font-weight: 700 !important;
    }

    .implementationStatus.failed {
        color: red !important;
    }

.danger {
    padding: 15px;
    background-color: #f2dede;
}

.annex_header {
    background-color: #e2e2e2 !important;
    height: 45px;
}

.recommendation_implementation_changed {
    color: #2b71f2;
}

.hover:hover {
    background-color: #e7e7e7;
    cursor: pointer;
}

.tt {
    position: relative;
    display: inline-block;
}

    .tt .tttext {
        visibility: hidden;
        width: 120px;
        background-color: #000;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: -5px;
        left: 105%;
    }

    .tt:hover .tttext {
        visibility: visible;
    }

a:link {
    color: teal;
}

a:visited {
    color: teal;
}

a:active {
    color: teal;
}

a.label {
    color: #fff;
}
